@import '../vars.scss';

.Home {
  &__banner {
    background-color: $brand;
    padding: 75px 0;
    background-image: url('/images/background.svg');
    background-position: bottom;
    background-repeat: no-repeat;
  }

  &__about {
    color: $not-quite-black;
  }

  &__experience {
    color: $not-quite-black;
    background-color: $off-white;
  }
  &__contact {
    background-color: $not-quite-black;
  }
}
