@import '../vars.scss';

.Home {
  &__banner {
    padding: 75px 0;
    position: relative;
    display: flex;
    align-items: center;
  }
  &__projects {
    padding: 75px 0;
    position: relative;
    display: flex;
    align-items: center;
  }
}
