@import '../vars.scss';

.Home {
  &__banner {
    // background-color: $brand-new;
    padding: 75px 0;
    // background-image: url('/images/background.svg');
    // background-image: url('/images/hero-bg-l.svg'), url('/images/hero-bg-r.svg');
    // background-image: url('/images/cbg.png');
    background-position: bottom;
    background-repeat: no-repeat;
  }
}
