@import '../vars.scss';

.IAbout {
  &__container {
    max-width: 932px;
    margin: 100px auto;
  }

  &__grid_container {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-gap: 20px;
  }

  &__photo {
    background-color: $not-quite-black;

    &_container {
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }

    &__wrapper {
      box-shadow: 0 10px 30px -15px $not-quite-black;
      transition: $transition;
      display: block;
      position: relative;
      width: 100%;
      border-radius: $border-radius;
      background-color: $brand;
      & img {
        position: relative;
        border-radius: $border-radius;
        mix-blend-mode: multiply;
        filter: grayscale(100%) contrast(1);
        transition: $transition;
      }
      &:hover img,
      &:focus img {
        filter: none;
        mix-blend-mode: normal;
      }

      &::before {
        top: 0px;
        left: 0px;
        background-color: $brand;
        mix-blend-mode: screen;
      }
      &::after {
        border: 2px solid $brand;
        top: 20px;
        left: 20px;
        z-index: -1;
      }
      &::before,
      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: $border-radius;
        transition: $transition;
      }
      &:hover::after,
      &:focus::after {
        top: 15px;
        left: 15px;
      }
    }
  }

  &__subheading {
    font-family: $font-display;
    font-size: 32px;
    color: $not-quite-black;
    font-weight: 900;
  }

  &__body {
    font-family: $font-primary;
    color: $not-quite-black;
    font-size: clamp(16px, 2vw, 20px);
    line-height: 32px;
  }

  &__skill_list {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__skill_item {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    &::before {
      content: '▹';
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      left: 0px;
      color: $brand;
      line-height: 12px;
    }
  }
}

@media screen {
  @media (min-width: 768px) {
    .IAbout {
      &__grid_container {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-template-rows: unset;
        grid-gap: 20px;
      }
    }
  }
}
