@import '../vars.scss';

.IAbout {
  &__container {
    max-width: 932px;
    margin: 100px auto;
  }

  &__grid_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 450px), 1fr));
    grid-gap: 20px;
  }

  &__photo {
    background-color: $not-quite-black;
    width: 100%;
    height: 400px;

    &_container {
      padding: 40px;
    }
  }

  &__subheading {
    font-family: $font-primary;
    font-size: 32px;
    color: $not-quite-black;
  }

  &__body {
    font-family: $font-primary;
    color: $not-quite-black;
    font-size: clamp(15px, 0.6403rem + 1.2702vw, 20px);
  }

  &__skill_list {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__skill_item {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    &::before {
      content: '▹';
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      left: 0px;
      color: $brand;
      line-height: 12px;
    }
  }
}
