@import '../vars.scss';

.IExperience {
  &__container {
    max-width: 600px;
    margin: 100px auto;
  }

  &__heading {
    font-family: $font-display;
    font-size: 32px;
    // color: $not-quite-black;
    font-weight: 900;
  }

  &__subheading {
    margin-bottom: 5px;
    font-size: clamp(16px, 2vw, 20px);
    display: flex;
    grid-gap: 10px;
  }

  &__body {
    font-family: $font-body;
    // color: $dark-not-black;
    font-size: 16px;
    margin: 10px 0;
  }

  &__highlight {
    display: flex;
    grid-gap: 5px;
    // @include nav-link-2;
    color: $brand-new;
    a {
      width: 100%;
      position: relative;
      span {
        transition: $transition;
        @include text-gradient;
        &:hover::after {
          width: 100%;
        }
        &::after {
          content: '';
          display: block;
          width: 0px;
          height: 2px;
          position: relative;
          bottom: 0;
          background: $background-gradient;
          transition: $transition;
          opacity: 0.5;
        }
      }
    }
  }
}
