@import '../vars.scss';

.IExperience {
  &__container {
    max-width: 600px;
    margin: 100px auto;
  }

  &__heading {
    font-family: $font-display;
    font-size: 32px;
    color: $not-quite-black;
    font-weight: 900;
  }

  &__subheading {
    margin-bottom: 5px;
    font-size: clamp(16px, 2vw, 20px);
  }

  &__body {
    font-family: $font-body;
    color: $dark-not-black;
    font-size: 16px;
    margin: 10px 0;
  }

  &__highlight {
    @include text-gradient;
    a {
      display: inline-block;
      text-decoration: none;
      text-decoration-skip-ink: auto;
      position: relative;
      transition: $transition;
      @include text-gradient;
      &:hover::after {
        width: 100%;
      }
      &::after {
        content: '';
        display: block;
        width: 0px;
        height: 2px;
        position: relative;
        bottom: 0;
        background: $background-gradient;
        transition: $transition;
        opacity: 0.5;
      }
    }
  }
}
