@import '../vars.scss';

.IOtherProjects {
  &__container {
    max-width: 1000px;
    margin: 100px auto;
  }
  &__list__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
    grid-gap: 15px;
  }
  &__list {
    position: relative;
    z-index: 2;
    display: flex;
    padding: 0;
    grid-gap: 10px;
    flex-wrap: wrap;
  }

  &__item__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > svg {
      width: 40px;
      height: 40px;
    }
  }
  &__links {
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
    position: relative;
    z-index: 2;
  }

  &__heading {
    font-family: $font-display;
    font-size: 32px;
    font-weight: 900;
    margin: 0px 0px 40px;
    text-align: center;
  }

  &__subheading {
    &__overline {
      position: relative;
      display: inline-block;
      @include text-gradient;
      z-index: 2;
      margin-bottom: 10px;
    }
    &__title {
      position: relative;
      font-family: $font-display;
      font-size: 20px;
      font-weight: bold;
      z-index: 2;
      margin: 0px;
    }
  }

  &__body {
    font-family: $font-body;
    font-size: 16px;
    position: relative;
    z-index: 2;
    padding: 15px 0;
    border-radius: $border-radius;
    transition: $transition;
  }
}
