@import '../vars.scss';

.IEmail {
  &__container {
    display: none;
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 40px;
    z-index: 10;
    color: $greyple;

    &__email {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      a {
        display: inline-block;
        text-decoration: none;
        text-decoration-skip-ink: auto;
        color: inherit;
        position: relative;
        transition: $transition;
        padding: 10px;
        font-family: $font-body;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.1em;
        writing-mode: vertical-rl;

        &:hover,
        &:focus {
          transform: translateY(-3px);
          color: $brand-new;
        }
      }

      &::after {
        content: '';
        display: block;
        width: 1px;
        height: 60px;
        margin: 0px auto;
        background-color: $greyple;
      }
    }
  }
}

.ISocial {
  &__container {
    display: none;
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;
    z-index: 10;
    color: $greyple;

    &__social {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0px;
      padding: 0px;

      &::after {
        content: '';
        display: block;
        width: 1px;
        height: 60px;
        margin: 0px auto;
        background-color: $greyple;
      }
    }
  }
}

@media screen {
  @media (min-width: 768px) {
    .IEmail {
      &__container {
        display: block;
      }
    }
    .ISocial {
      &__container {
        display: block;
      }
    }
  }
}
