@import '../vars.scss';

.VMenu {
  &__background {
    padding: 27px 25px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__wrapper {
      display: none;
    }
  }

  &__navbar {
    display: flex;
    font-size: 16px;
    color: $gray-1;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    justify-content: center;
    grid-gap: 40px;
    font-family: $font-body;
    & li {
      height: 100%;
      padding: 20px 0px;
      transition: all 300ms ease;
      &:hover {
        border-bottom: 2px solid rgb($gray-1, 0.3);
      }
    }
  }

  &__button {
    font-size: 16px;
    outline: none;
    font-family: $font-body;
    cursor: pointer;
    border: none;
    background: none;
    span {
      @include nav-link-1;
    }
    // @include nav-link-1;
  }
}

@media screen and (min-width: 768px) {
  .VMenu {
    &__background {
      padding: 27px 50px;
    }
    &__container {
      &__wrapper {
        display: block;
      }
    }
  }
}
