@import '../vars.scss';

.VMenu {
  &__background {
    padding: 27px 25px;
    background-color: $brand;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__wrapper {
      display: none;
    }
  }

  &__navbar {
    display: flex;
    font-size: 16px;
    color: $white;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    justify-content: center;
    grid-gap: 40px;
    font-family: $font-primary;
    & li > a:hover {
      text-decoration: underline;
    }
  }

  &__button {
    background-color: $white;
    color: $not-quite-black;
    border-radius: $button-radius;
    font-size: 16px;
    outline: none;
    font-family: $font-primary;
    padding: 8px 16px;
    cursor: pointer;
    border: none;
    transition-property: background-color, color, box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }

  &__button:hover {
    color: $brand;
    box-shadow: 0 8px 15px rgb(0 0 0 / 20%);
  }
}

@media screen and (min-width: 768px) {
  .VMenu {
    &__background {
      padding: 27px 50px;
    }
    &__container {
      &__wrapper {
        display: block;
      }
    }
  }
}
