@import 'vars.scss';
html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-body;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
body {
  background-color: #f6f6f6;
}

* {
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  display: inline;
  text-align: unset;
  list-style-position: unset;
}
.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}
main {
  position: relative;
  z-index: 3;
}

.Aside {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 50px 10px;
  width: 75vw;
  max-width: 400px;
  height: 100vh;
  outline: 0;
  background-color: $gray-6;
  box-shadow: -10px 0px 30px -15px $gray-4;
  z-index: 30;
  transform: translateX(100vw);
  visibility: hidden;
  transition: $transition;
  &.active {
    transform: translateX(0vw);
    visibility: visible;
  }
  nav {
    width: 100%;
    text-align: center;
  }
  ul {
    padding: 0;
    display: flex;
    margin: 0;
    list-style: none;
    flex-direction: column;
    width: 100%;
    li {
      position: relative;
      margin: 0 auto 20px;
      @media (max-width: 600px) {
        margin: 0 auto 10px;
      }
      &:before {
        display: block;
        margin-bottom: 5px;
      }
    }
    a {
      width: 100%;
      padding: 3px 20px 3px;
    }
  }
  .resume-link {
    padding: 18px 50px;
    margin: 10% auto 0;
    width: max-content;
  }
}

.MenuIcon {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 50;
  margin-right: -15px;
  padding: 15px;
  border: 0;
  background-color: transparent;
  color: inherit;
  text-transform: none;
  transition-timing-function: linear;
  transition-duration: 0.15s;
  transition-property: opacity, filter;
  cursor: pointer;

  &.active .ham-box-inner {
    transition-delay: 0.12s;
    transition-delay: 0.12s;
    transform: rotate(225deg);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .ham-box {
    display: inline-block;
    position: relative;
    width: $hamburger-width;
    // width: 30px;
    height: 24px;
  }
  .ham-box-inner {
    position: absolute;
    top: 50%;
    right: 0;
    width: $hamburger-width;
    height: 2px;
    border-radius: $border-radius;
    background-color: $not-quite-black;
    transition-duration: 0.22s;
    transition-property: transform;
    transition-delay: 0s;
    transform: rotate(0deg);
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: auto;
      right: 0;
      width: $hamburger-width;
      height: 2px;
      border-radius: 4px;
      background-color: $not-quite-black;
      transition-timing-function: ease;
      transition-duration: 0.15s;
      transition-property: transform;
    }
    &:before {
      width: 120%;
      top: -10px;
      opacity: 1;
      // transition: $ham-before;
    }
    &:after {
      width: 80%;
      bottom: -10px;
      transform: rotate(0);
      // transition: $ham-after;
    }
  }
  &.active .ham-box-inner::before {
    width: 100%;
    top: 0;
    opacity: 0;
  }
  &.active .ham-box-inner::after {
    width: 100%;
    bottom: 0;
    transform: rotate(-90deg);
  }
}

@media screen {
  @media (min-width: 768px) {
    .Aside {
      display: none;
    }
    .Menu {
      display: none;
    }
    .MenuIcon {
      display: none;
    }
  }
}

@font-face {
  font-family: 'Ginto Nord';
  src: url('/fonts/GintoNord/GintoNord-Regular.otf');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ginto Nord';
  src: url('/fonts/GintoNord/GintoNord-Bold.otf');
  font-style: bold;
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: 'Ginto Normal';
  src: url('/fonts/GintoNormal/GintoNormal-Regular.otf');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ginto Normal';
  src: url('/fonts/GintoNormal/GintoNormal-Bold.otf');
  font-style: bold;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'Whitney';
  src: url('/fonts/Whitney/Whitney-book.otf');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Whitney';
  src: url('/fonts/Whitney/Whitney-medium.otf');
  font-style: medium;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Whitney';
  src: url('/fonts/Whitney/Whitney-bold.otf');
  font-style: bold;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'Reenie Beanie';
  src: url('/fonts/ReenieBeanie/ReenieBeanie-Regular.ttf');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilmer';
  src: url('/fonts/Gilmer/GilmerRegular.ttf');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilmer';
  src: url('/fonts/Gilmer/GilmerBold.ttf');
  font-style: bold;
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Gilmer';
  src: url('/fonts/Gilmer/GilmerHeavy.ttf');
  font-style: bold;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'Metro';
  src: url('/fonts/MetroSans/MetroSansRegular.ttf');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Metro';
  src: url('/fonts/MetroSans/MetroSansBold.ttf');
  font-style: bold;
  font-weight: bold;
  font-display: swap;
}
