@import 'vars.scss';
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
ul {
  list-style: none;
}
li {
  display: inline;
  text-align: unset;
  list-style-position: unset;
}

@font-face {
  font-family: 'Ginto Nord';
  src: url('/fonts/GintoNord/GintoNord-Regular.otf');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ginto Nord';
  src: url('/fonts/GintoNord/GintoNord-Bold.otf');
  font-style: bold;
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: 'Ginto Normal';
  src: url('/fonts/GintoNormal/GintoNormal-Regular.otf');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ginto Normal';
  src: url('/fonts/GintoNormal/GintoNormal-Bold.otf');
  font-style: bold;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'Whitney';
  src: url('/fonts/Whitney/Whitney-regular.otf');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Whitney';
  src: url('/fonts/Whitney/Whitney-medium.otf');
  font-style: bold;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Whitney';
  src: url('/fonts/Whitney/Whitney-bold.otf');
  font-style: bold;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'Reenie Beanie';
  src: url('/fonts/ReenieBeanie/ReenieBeanie-Regular.ttf');
  font-style: normal;
  font-display: swap;
}
