// Colors
// $brand: #5865f2;
$brand: #404eed;
$brand-gradient: linear-gradient(90deg, #8ea1e1, #7289da);
$greyple: #99aab5;
$dark-not-black: #2c2f33;
$focus-border: #00b0f4;
$status-green: #43b581;
$text-link: #00b0f4;
$off-white: #f6f6f6;
$white: #fff;
$not-quite-black: #23272a;
$not-quite-black-rgb: 35, 39, 42;
$black: #000;
$ekko-red: #de2761;

$gray-subtitle: #555555;

$button-hover: #36393f;

// Fonts
$font-primary: 'Whitney', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-display: 'Ginto Normal', 'Whitney', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-headline: 'Ginto Nord', 'Whitney', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-monospace: 'Menlo', 'Consolas', 'Monaco', monospace;
$font-glitch: 'ArchivoBlack', 'Whitney', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-cursive: 'Reenie Beanie', 'Comic Sans MS', cursive, sans-serif;

// General space/grid
$page-max-width: 1260px;
$num-grid-columns: 4;
$page-gutter: 24px;
$section-spacing: 56px;
$button-radius: 28px;
$hamburger-width: 30px;

$transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
$border-radius: 4px;

@mixin text-gradient {
  background: linear-gradient(90deg, #f7b500 0.03%, #b620e0 48.96%, #32c5ff 99.97%);
  background-clip: text;
  color: transparent;
}
